body {
    background-color: #024557 !important;
}

.default-width {
    box-shadow: none;
    border-radius: 1vh;
}

.color-one {
    color: #1DBED8 !important;
}

.double-bounce1, .double-bounce2 {
    background-color: #024557 !important;
}

.styled-input input {
    border-top: none;
    border-left: none;
    border-right: none;
}

input:focus ~ label, input:valid ~ label {
    color: #1DBED8;
}

input[type="button"], a.default-btn {
    background-color: #1DBED8;
    color: white;
    border: none;
    text-transform: uppercase;
}

input[type="button"]:hover, a.default-btn:hover {
    background-color: #1DBED8;
}

* {
    box-sizing: border-box;

}

#return-container {
    background-color: #092529;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 0;
    padding: 10px 5px;
    color: white;
    height: 50px;
    font-size: 1.2em;
    border-bottom: 1px solid black;
}

#return-container .button {
    width: 50px;
    text-align: center;
}

#return-container a, #return-container a:hover, #return-container a:focus, #return-container a:visited {
    text-decoration: none;
    color: white;
}

#return-container .icon-back {
    vertical-align: middle;
    height: 20px !important;
}

#header {
    background-color: white;
    margin: 20px auto;
    width: 500px;
    border-radius: 1vh;
    padding: 10px;
}

#header #logo {
    width: 135px;
}

#header #payment-type {
    text-transform: uppercase;
    margin-top: 15px;
}

#header #payment-logo {
    width: 90px;
}

#order-form {
    border-radius: 1vh;
    background-color: white;
    margin: 20px auto;
    width: 500px;
}

#order-form .item {
    padding: 10px 15px;
}

#order-form .item .item-right {
    text-align: right;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col {
    float: left;
    box-sizing: border-box;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

@media screen and (max-width: 650px) {
    #order-form, #header {
        width: 95%;
    }
}